@model IEnumerable<Student>

<a asp-action="Create">Add Student</a>

<table border="1">
<tr>
    <th>Name</th><th>Email</th><th>Address</th><th>Action</th>
</tr>
@foreach(var s in Model)
{
<tr>
    <td>@s.Name</td>
    <td>@s.Email</td>
    <td>@s.Address</td>
    <td>
        <a asp-action="Edit" asp-route-id="@s.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@s.Id">Delete</a>
    </td>
</tr>
}
</table>
