@{
    ViewData["Title"] = "Music Page";
}

<h1>@ViewData["Title"]</h1>
<p>Details about the music will be displayed here.</p>
<p>Music Title: @Model.Title</p>
<p>Description: @Model.Description</p>
<p>Singer: @Model.Singer</p>
<p>YearOfRelease: @Model.YearOfRelease</p>
<p>Duration: @Model.Duration</p>
